@import './colors.scss';

.container-contact {
    font-size: 10px;
    color: black;
    font-weight: 500;
}
  
.large .container-contact {
    font-size: 13px;
}
  
.small .container-contact {
    font-size: 8px;
}

.contrast .container-contact {
    background-color: black;
    color: yellow;
    font-weight: 400;
}
  
.dark .container-contact {
    color: white;
    background-color: $dark-bg;
    font-weight: 400;
}

.container-contact .main {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container-contact .main section {
    padding: 20px 30px;
    width: 50%;
}

.container-contact .main section h2 {
    font-size: 4em;
    padding: 10px 0;
    color: $light-heading;
    margin-bottom: 5px;
    font-weight: 600;
}

.contrast .container-contact .main section h2 {
    color: yellow;
    font-weight: 600;
  }
  
.dark .container-contact .main section h2 {
    color: $dark-heading;
    font-weight: 600;
}

.container-contact .main .section1 > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 8px 0;
}

.container-contact .main .section1 .icon {
    margin-right: 20px;
}

.container-contact .main .section1 .icon span {
    font-size: 5em;
}

.container-contact .main .section1 .title {
    font-size: 1.8em;
    font-weight: 600;
}

.contrast .container-contact .main .section1 .title {
    font-size: 1.8em;
    font-weight: 500;
}

.dark .container-contact .main .section1 .title {
    font-size: 1.8em;
    font-weight: 500;
}

.container-contact .main .section1 .desc {
    font-size: 2.2em;
}

.container-contact .main .section2 .required {
    margin-left: 3px;
    color: red;
}

.container-contact .main .section2 label {
    font-size: 1.8em;
}

.container-contact .main .section2 form > div {
    margin: 14px 0;
}

.container-contact .main .section2 input, .main .section2 textarea {
    display: block;
    border: 1px solid #3F83F8;
    font-size: 2em;
    padding: 5px 15px;
    border-radius: 3px;
    width: 95%;
    background-color: transparent;
}

.container-contact .main .section2 textarea {
    height: 130px;
    resize: none;
}

.container-contact .main .section2 form label {
    display: block;
    margin-bottom: 3px;
}

.container-contact .main .section2 button, .container-contact .main .section2 input[type=submit] {
    display: block;
    width: fit-content;
    background-color: #3F83F8;
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 2em;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        background-color: #1C64F2;
    }
}

.container-contact .main .checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.container-contact .main .checkbox-container label {
    margin-left: 10px;
    width: auto;
}

.container-contact .main .checkbox-container input {
    width: auto;
    transform: scale(1.4);
}

.container-contact .status-container {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-contact .status {
    font-size: 1.4rem;
    font-weight: 600;
    color: #4caf50;
    margin-left: 20px;
}

.container-contact .status.error {
    color: #d50000;
}

@media (max-width: 1200px) {
    .container-contact .main {
        flex-direction: column;
    }
    
    .container-contact .main section {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .container-contact .main section h2 {
        font-size: 2.8em;
    }

    .container-contact .main .section1 > div {
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    .container-contact .main .section1 .icon span {
        margin-bottom: 5px;
    }
}