$nav-color: #6875F5;
$active-btn-color: rgba(0,0,0,0.1);

.container-nav {
    background-color: $nav-color;
    width: 100%;
    font-size: 10px;
}

.small .container-nav {
    font-size: 8px;
}

.contrast .container-nav {
    background-color: yellow;
}

.nav {
    max-width: 1900px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul > li {
    margin: 0 2px;
}

.large .nav ul > li {
    margin: 2px auto;
}

.nav ul a, .nav ul button {
    padding: 12px 15px;
    display: inline-block;
    color: white;
    background-color: $nav-color;
    border-style: none;
    cursor: pointer;
    transition: background-color .3s;
    border-radius: 5px;
    font-weight: 400;

    &:hover {
        text-decoration: none;
        background-color: $active-btn-color;
    }
}

.nav ul a.active {
    cursor: unset;
}

.nav ul .dropdown a.active {
    background-color: #5850EC;

    &:hover {
        background-color: #5850EC;
        color: white;
    }
}

.contrast .nav ul .dropdown a.active {
    &:hover {
        color: black;
    }
}

.nav ul a.active, .nav ul button.active {
    background-color: $active-btn-color;
    color: white;
}

.contrast .nav ul a, .contrast .nav ul button {
    background-color: yellow;
    color: black;

    &:hover {
        background-color: rgb(211, 211, 34);
    }
}

.contrast .nav ul a.active, .contrast .nav ul button.active {
    color: black;
    background-color: rgb(211, 211, 34);

    &:hover {
        background-color: rgb(211, 211, 34);
        text-decoration: none;
    }
}

.nav ul button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li.dropdown-li {
    position: relative;
    top: 0;
    left: 0;
}

.nav ul .dropdown {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 107%;
    left: 0;
    width: 350px;
    font-size: 1em;
    background-color: #edf2f7;
    border-radius: 5px;
    padding: 3px 0;
    z-index: 1;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #e2e8f0;

    &::-webkit-scrollbar {
        width: 16px;
    }
     
    &::-webkit-scrollbar-track {
        background-color: #edf2f7;
        border-radius: 100px;
    }
     
    &::-webkit-scrollbar-thumb {
        background-color: $nav-color;
        border-radius: 100px;
    }
}

.dark .nav ul .dropdown {
    background-color: #362F78;
    border: none;

    &::-webkit-scrollbar-track {
        background-color: #362F78;
    }
}

.contrast .nav ul .dropdown {
    background-color: yellow;
    border: 1px solid black;

    &::-webkit-scrollbar-track {
        background-color: black;
        border: 1px solid red;
    }

    &::-webkit-scrollbar-thumb {
        border: 1px solid red;
        background-color: yellow;
    }
}

.nav ul .dropdown.open {
    display: flex;
}

.nav .dropdown li {
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .dropdown ul, .nav .dropdown li {
    width: 100%;
}

.nav .dropdown a {
    color: black;
    background-color: #edf2f7;
    padding: 7px 15px;
    width: 95%;
    margin: 0 auto;
    transition: all .3s;

    &:hover {
        color: black;
    }
}

.nav .dropdown a .external {
    margin-left: 3px;
}

.dark .nav .dropdown a {
    color: white;
    background-color: #362F78;

    &:hover {
        background-color: $active-btn-color;
    }
}

.contrast .nav .dropdown a {
    background-color: black;
    color: yellow;

    &:hover {
        background-color: black;
        text-decoration: underline;
    }
}

button .icons {
    font-size: 1.3em;
    pointer-events: none;
    margin-left: 3px;
    transition: transform .2s ease-in-out;
    transform: rotate(0);
}

button .icons.up {
    transform: rotate(-180deg);
}

#desktop-nav {
    display: flex;
}

#mobile-nav {
    display: none;
}

.mobile-bar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 12px 0;
    padding: 0 10px;
}

.mobile-bar p {
    color: white;
    font-weight: 300;
    margin-left: 12px;
    font-size: 3em;
}

.large .mobile-bar p {
    font-size: 3.2em;
}   

.contrast .mobile-bar p {
    color: black;
}

.mobile-bar span {
    color: #6aceeb;
}

.contrast .mobile-bar > button > span > span.hamburger-inner {
    background-color: black;

    &::after {
        background-color: black;
    }

    &::before {
        background-color: black;
    }
}

@media (min-width: 2000px) {
  
    .nav {
        max-width: unset;
    }
    
}

@media (min-width: 1920px) {
  
    .nav ul a, .nav ul button {
        font-size: 2.41em;
    }
    
}

@media (min-width: 1815px) and (max-width: 1920px) {
  
    .nav ul a, .nav ul button {
        font-size: 2.26em;
    }
    
}

@media (min-width: 1715px) and (max-width: 1815px) {
  
    .nav ul a, .nav ul button {
        font-size: 2.11em;
    }
    
}

@media (min-width: 1615px) and (max-width: 1715px) {
  
    .nav ul a, .nav ul button {
        font-size: 1.94em;
    }
    
}

@media (min-width: 1515px) and (max-width: 1615px) {
  
    .nav ul a, .nav ul button {
        font-size: 1.79em;
    }
    
}

@media (min-width: 1415px) and (max-width: 1515px) {
  
    .nav ul a, .nav ul button {
        font-size: 1.64em;
    }
    
}

@media (min-width: 1315px) and (max-width: 1415px) {
  
    .nav ul a, .nav ul button {
        font-size: 1.49em;
    }
    
}

@media (min-width: 1200px) and (max-width: 1315px) {
  
    .nav ul a, .nav ul button {
        font-size: 1.34em;
    }
    
}

@media (min-width: 1121px) and (max-width: 1215px) {
  
    .nav ul a, .nav ul button {
        font-size: 1.2em;
    }
    
}

@media (max-width: 1120px) {

    #desktop-nav {
        display: none;
    }

    #mobile-nav {
        display: flex;
    }
  
    .nav ul a, .nav ul button {
        font-size: 2em;
        width: 90%;
        margin: 0 auto;
        justify-content: flex-start;
    }

    .nav {
        height: auto;
        flex-direction: column;
    }

    .nav ul {
        flex-direction: column;
        width: 100%;
    }

    .nav ul a {
        text-align: left;
        margin: 0 auto;
    }

    .nav li {
        width: 90%;
        margin: 2px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav ul > li {
        margin: 2px 0;
    }

    .nav ul .dropdown {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    .nav > ul > li:nth-last-child(1) {
        margin-bottom: 20px;
    }
    
}

@media (max-width: 600px) {
    .nav ul .dropdown {
        width: 95%;
    }
}